<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
    <link rel="stylesheet" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="/styles/tailwind.css" />

    <title>Dashboard | Notus Tailwind JS by Creative Tim</title>
  </head>

  <body class="text-blueGray-700 antialiased">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">


        <div class="header">
            <%- include('partials/header') %> <!-- Correct syntax to include sidebar -->
        </div>
        
       
        <div class="content">
            <%- body %> <!-- Inject page content here -->
        </div>
       
    </div>

   	<!-- <script src='/nprogress.js'></script> -->

		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="/js/axios.js"></script>
		<!-- Include your JS -->
  </body>
</html>
